# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code / PyCharm
.vscode/
.idea/

# macOS
.DS_Store

# Outputs
outputs/
results/
figures/

# Large data files, only if not required
*.zip
*.tar.gz